[submodule "coffeescript-concat"]
	path = coffeescript-concat
	url = https://github.com/fairfieldt/coffeescript-concat.git
[submodule "d3"]
	path = d3
	url = https://github.com/mbostock/d3.git
[submodule "d3.slider"]
	path = d3.slider
	url = git@github.com:Christoph-D/d3.slider.git
