#graph {
  outline: thin solid black;
  width: 700px;
  height: 400px;
}

#info {
  position: absolute;
  top: 20px;
  left: 750px;
}

#run {
}

#slider {
  width: 680px;
  margin: 10px;
  margin-bottom: 30px;
}

#loading-message {
  color: #AA0000;
}
#dump {
  width: 700px;
  height: 1000px;
}

.vertex {
  fill: #8888FF;
}

.vertex.highlight1 {
  fill: #FF0000;
}

.vertex.highlight2 {
  fill: #009900;
}

.vertex.selected {
  stroke: #000000;
  stroke-width: 2px;
}

.edge {
  stroke: #000000;
  stroke-width: 1.5px;
}

.edge.highlight1 {
  stroke: #FF0000;
}
marker.highlight1 {
  fill: #FF0000;
}

.edge.highlight2 {
  stroke: #BBBBBB;
}
marker.highlight2 {
  fill: #BBBBBB;
}
