@sliderWidth: 1000px;

@vertexColor: #8888FF;
@vertexHighlight1: #FF0000;
@vertexHighlight2: #009900;

@edgeColor: #000000;
@edgeHighlight1: #FF0000;
@edgeHighlight2: #BBBBBB;

@panelOpacity: 0.9;
@borderColor: #EEEEEE;

@buttonTextColor: #FFFFFF;
@buttonBorderSize: 3px;
@buttonBorderColor: solid #CCCCFF;
@buttonBorder: @buttonBorderSize @buttonBorderColor;
@buttonBorderRadius: 10px;
@buttonColor: #8080AA;
@buttonColorHover: lighten(@buttonColor, 5%);
@buttonColorActive: #60B970;
@buttonColorDisabled: #BBBBBB;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#graph {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#infocol {
  position: fixed;
  top: 20px;
  right: 30px;
  padding: 10px;
  background: rgba(255, 255, 255, @panelOpacity);
  border: 5px solid @borderColor;
  border-radius: 10px;
}

#control-panel {
  position: fixed;
  bottom: 10px;
  left: 50%;
  margin-left: -@sliderWidth / 2;
  width: @sliderWidth + 20px;
  padding: 10px;
  background: rgba(255, 255, 255, @panelOpacity);
  border: 5px solid @borderColor;
  border-radius: 10px;
}

#control-buttons {
  text-align: center;
  width: @sliderWidth;
}

/* Remove additional button padding by firefox. */
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

div.radio-buttons,
input[type=button],
input[type=radio] + label,
input[type=checkbox] + label {
  display: inline-flex;
  padding: 10px 15px;
  margin: 0px 2px;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  line-height: 100%;
  color: @buttonTextColor;
}

div.radio-buttons {
  padding: 0;
}

input[type=button],
input[type=checkbox] + label {
  border: @buttonBorder;
  border-radius: @buttonBorderRadius;
}

input[type=radio] + label {
  border: @buttonBorder;
  border-left-width: 0;
  border-right-width: 0;
}
input[type=radio]:first-of-type + label {
  border-left-width: @buttonBorderSize;
  border-top-left-radius: @buttonBorderRadius;
  border-bottom-left-radius: @buttonBorderRadius;
}
input[type=radio]:last-of-type + label {
  border-right-width: @buttonBorderSize;
  border-top-right-radius: @buttonBorderRadius;
  border-bottom-right-radius: @buttonBorderRadius;
}

input[type=text] {
  background-color: #F0F0F0;
  box-shadow: none;
  border: @buttonBorder;
  border-radius: @buttonBorderRadius;
}

input[type=button],
input[type=radio] + label,
input[type=checkbox] + label {
  background-color: @buttonColor;
  &:hover {
    background-color: @buttonColorHover;
  }
  &:focus {
    outline: none
  }
}

input[type=radio] + label {
  margin-left: 0;
  margin-right: 0;
}

input[type=button] {
  appearance: none;
  &:active {
    background-color: @buttonColorActive;
  }
}

input[type=button]:disabled {
  background-color: @buttonColorDisabled;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=checkbox]:checked + label,
input[type=radio]:checked + label {
  background-color: @buttonColorActive;
}

#run {
}

#slider {
  width: @sliderWidth;
  margin: 10px;
}

#load-save-form {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 120px;
  flex-direction: column;
  height: 500px;
  width: 350px;
  padding: 10px;
  padding-right: 20px;
  background: rgba(255, 255, 255, @panelOpacity);
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  p {
    margin: 0;
    padding: 0;
  }
}
#loading-message {
  color: #AA0000;
}
#dump {
  width: 100%;
  height: 90%;
  flex-grow: 1;
}

.vertex {
  fill: @vertexColor;

  text {
    user-select: none;
    cursor: default;
    stroke: none;
  }

  &.highlight1 {
    fill: @vertexHighlight1;
  }
  &.highlight2 {
    fill: @vertexHighlight2;
  }
  .accepting {
    fill: none;
    stroke: #000000;
    stroke-width: 2px;
  }
  &.selected .main {
    stroke: #000000;
    stroke-width: 2px;
    stroke-dasharray: 4,3;
    animation: vertex-selected 1s linear infinite;
  }
}

@keyframes vertex-selected {
  0% { stroke-dashoffset: 7; }
  100% { stroke-dashoffset: 0; }
}

.edge {
  stroke: @edgeColor;
  stroke-width: 1.5px;

  text {
    user-select: none;
    cursor: default;
    stroke: none;
  }

  .click-target {
    stroke-opacity: 0;
    stroke-width: 10px;
    stroke-linecap: round;
    marker-end: none !important;
    pointer-events: all;
  }

  &.highlight1 {
    stroke: @edgeHighlight1;
    fill: @edgeHighlight1;
  }
  &.highlight2 {
    stroke: @edgeHighlight2;
    fill: @edgeHighlight2;
  }
  &.selected .main {
    stroke-width: 3px;
    stroke-dasharray: 5,3;
    animation: edge-selected 1s linear infinite;
  }
}

marker {
  &.highlight1 { fill: @edgeHighlight1; }
  &.highlight2 { fill: @edgeHighlight2; }
}

@keyframes edge-selected {
  0% { stroke-dashoffset: 8; }
  100% { stroke-dashoffset: 0; }
}

.property-input {
  margin-bottom: 1em;
}
/* Make sure all labels have the same width. */
.property-input {
  span.label {
    display: inline-block;
    width: 5em;
  }
  input[type=text] {
    width: 10em;
  }
}
